<header>
  <mat-toolbar color="primary">
    <button mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
    <span>
      NP Flight
      <span class="material-icons">flight_takeoff</span>
    </span>
    <span class="header__spacer"></span>
    <button mat-raised-button routerLink="/login" *ngIf="!isLoggedIn">
      Log In/Sign Up
    </button>
    <button
      mat-raised-button
      [matMenuTriggerFor]="menu"
      [title]="name"
      *ngIf="isLoggedIn"
    >
      <span class="material-icons"> account_circle </span>{{ name }}
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item> Logout</button>
    </mat-menu>
  </mat-toolbar>
</header>

<swiper
      [slidesPerView]="1"
      [spaceBetween]=""
      (swiper)="onSwiper($event)"
      (slideChange)="onSlideChange()"
      [navigation]="true"
      [pagination]="{ clickable: true }"
      [autoplay]="true"
    >
      <ng-template swiperSlide><img height="300px" width="100%" src="https://img.freepik.com/free-vector/special-offer-sale-discount-banner_180786-46.jpg?size=626&ext=jpg" alt=""></ng-template>
      <ng-template swiperSlide><img height="300px" width="100%" src="https://img.freepik.com/free-vector/special-offer-sale-discount-banner_180786-46.jpg?size=626&ext=jpg" alt=""></ng-template>
      <ng-template swiperSlide><img height="300px" width="100%" src="https://img.freepik.com/free-vector/special-offer-sale-discount-banner_180786-46.jpg?size=626&ext=jpg" alt=""></ng-template>
    </swiper> 
